.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
.mocharc.json
tsconfig.json
esbuild.mjs
node_modules/**
!node_modules/boxicons/
!node_modules/boxicons/svg/
!node_modules/boxicons/svg/**
out/test/**
**/*.map
